.grid-wrapper {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  max-width: 1184px;
  min-height: 671px;
  margin-bottom: 12px;
}

@media (max-width: 1024px) {
  .grid-wrapper {
    max-width: 928px;
    min-height: 942px;
  }
}

@media (max-width: 768px) {
  .grid-wrapper {
    max-width: 720px;
    min-height: 1664px;
    margin-bottom: 15px;
  }
}

@media (max-width: 767px) {
  .grid-wrapper {
    max-width: 288px;
    min-height: 2724px;
    margin-bottom: 14px;
  }
}

@media (max-width: 320px) {
  .grid-wrapper {
    max-width: 288px;
    min-height: 2724px;
    margin-bottom: 14px;
  }
}





