.header__langs {
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #FFFFFF;
  max-width: 100%;
  max-height: 100%;
  display: flex;
  align-items: center;
}
