.cover {
  position: relative;
  max-width: 1184px;
  margin-top: 98px;
  z-index: 0;

}


@media (max-width : 1024px) {
  .cover {
    max-width: 1024px;
  }
}

@media (max-width : 768px) {
  .cover {
    max-width: 768px;
  }
}

@media (max-width : 320px) {
  .cover {
    max-width: 320px;
  }
}

