.cover__overlay {
  background-image: url(../../../images/cover-trains.jpg);
  /*max-width: 1184px;*/
  max-width: 100%;
  min-height: 740px;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  padding: 0;
  box-sizing: border-box;
  background-size: cover;
  object-fit: fill;
  position: relative;
  z-index: 1;
  margin: 0 auto;
  background-size: cover;
  text-decoration: none;
}

.cover__overlay::before {
  content: "";

}

.cover__overlay:hover:before {
  cursor: pointer;
  opacity: 0.8;
  background-color: #2A2C2F;
  opacity: 0.8;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  transition: 0.3s;
}

@media (max-width : 1024px) {
  .cover {
    min-height: 640px;
  }
}

@media (max-width : 768px) {
  .cover {
    min-height: 480px;
  }
}

@media (max-width : 320px) {
  .cover {
    min-height: 200px;
  }
}
