.header__lang-first {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
  text-decoration: underline;
  padding-left: 18px;
}

@media (max-width: 320px) {
  .header__lang-first {
   font-size: 18px;
   line-height: 20px;
  }
}
