.footer {
  max-width: 1184px;
  max-height: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
          align-items: center;
  vertical-align: bottom;
  margin: 92px auto 0;
  padding-bottom: 24px;
}


@media (max-width: 1024px) {
  .footer {
    max-width: 928px;
  }
}

@media (max-width: 768px) {
  .footer {
    max-width: 720px;
    min-height: 18px;
    margin: 88px auto 0;
    padding-bottom: 24px;
  }
}

@media (max-width: 320px) {
  .footer {
    max-width: 186px;
    min-height: 310px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
            flex-direction: column;
    margin: 64px 0 0;
    padding-left: 16px;
    padding-bottom: 24px;
    -webkit-box-align: start;
    -ms-flex-align: start;
            align-items: flex-start;
  }
}
